<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>Comic Strip Generator</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/checkout/">
    <link rel="icon" 
     type="image/png" 
     href="static/comic-3.png">
    

     <!-- <script src="../static/js/script.js"></script> -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    
    <script src="../static/js/characterDescriptions.js"></script>
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

      .b-example-divider {
        height: 3rem;
        background-color: rgba(0, 0, 0, .1);
        border: solid rgba(0, 0, 0, .15);
        border-width: 1px 0;
        box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
      }

      .b-example-vr {
        flex-shrink: 0;
        width: 1.5rem;
        height: 100vh;
      }

      .bi {
        vertical-align: -.125em;
        fill: currentColor;
      }

      .nav-scroller {
        position: relative;
        z-index: 2;
        height: 2.75rem;
        overflow-y: hidden;
      }

      .nav-scroller .nav {
        display: flex;
        flex-wrap: nowrap;
        padding-bottom: 1rem;
        margin-top: -1px;
        overflow-x: auto;
        text-align: center;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
      }
    </style>

    
    <!-- Custom styles for this template -->
    <link href="../static/css/form-validation.css" rel="stylesheet">
  </head>
  <body class="bg-dark">
    
<div class="container">
  <main>
    <div class="py-5 text-center">
      <img class="d-block mx-auto mb-4" src="static/comic-3.png" alt="" width="172" height="157">
      <h2>Comic Strip Generator</h2>
      <p class="lead">Generate comics based on clips from your favorite TV shows in your own style!</p>
    </div>

    
      <div class="col-md-12 col-lg-12">
        <h4 class="mb-3">Transcription</h4>
        <label for="transcribeAudioForm">Enter a youtube URL to be transcribed</label>
        <form id='transcribeAudioForm' class="needs-validation form form-inline">
          <div class="row g-3">
            <span class="col-10">              
                <input type="text" class="form-control" id="youtubeURL" placeholder="Youtube URL" required>
                <span class="invalid-feedback">
                  Please input a youtube URL to be transcribed.
                </span>
            </span>
            <span class="col-2">              
              <button type="submit" class="btn btn-primary d-inline-block">Transcribe audio</button>
            </span>
          </div>
        </form>
        <div class="text-center mt-4" id="spinner1Div" style="display: none;">          
          <div class="spinner-border" role="status">
            <span class="sr-only"></span>
          </div><br>
          This may take a while
        </div>
        <hr class="my-4">
          <div class="row mt-4">
            <div class="col-md-12">
              <form id="generateGptScript" class="needs-validation form form-inline">
                <div class="form-group">
                  <label for="transcribedText"><h4>Transcribed text</h4></label><br>
                  <!-- <label for="firstName" class="form-label">Update the Speaker labels to match the characters from your desired shows</label> -->
                  <textarea class="form-control" id="transcribedText" rows="10" placeholder="Text transcription of audio will appear here" disabled></textarea>
                  <label for="address" class="form-label mt-4">TV Show you want your comic to be based on:</label>
                  <input type="text" class="form-control" id="tvshow" placeholder="Ex: Big Bang Theory" required disabled>
                  <div class="invalid-feedback">
                    Please enter a TV Show of your choice
                  </div> 
                  <label class="form-label">Give character names to speaker labels:</label>
                  <div id="speakerLabels">

                  </div>
                  <button type="button" class="btn btn-small btn-light mt-3" onclick="addFormField()">Add Field</button><br>             
                  <label for="address" class="form-label mt-4">Custom requirements for the script:</label>
                  <input type="text" class="form-control" id="customReq" placeholder="Ex: Funny, in the style of Peanuts" required disabled>
                </div>    
                <div class="text-center">       
                  <button class="col-12 btn btn-primary btn-lg mt-4" type="submit">Generate script for your comic</button>
                </div> 
                </div>
              </form>
            </div>
            <div class="text-center mt-4" id="spinner2Div" style="display: none;">
              <div class="spinner-border" role="status">
                <span class="sr-only"></span>
              </div>
            </div>
          </div>            
          <div class="row g-3">
          <div class="col-12">   
          <hr class="my-4">
          <div class="row mt-4">
            <div class="col-md-12">
              <form id="generateComicForm" class="needs-validation form form-inline">
                <div class="form-group">
                  <label for="gptGeneratedScript"><h4>GPT generated script</h4></label><br>
                  <label for="firstName" class="form-label">Edit the script to match your style and requirements</label>
                  <textarea class="form-control" id="gptGeneratedScript" rows="12" placeholder="A script generated by GPT based on your audio will be displayed here" disabled></textarea>
                  <div class="text-right">
                    <button class="col-5 btn btn-warning mt-4" id="regenerateScriptBtn" onclick="generateGptScript()">Regenerate Script</button>
                  </div> 
                  <label class="form-label mt-4" for="imageModel"><h4>Image generation model</h4></label><br>
                  <label class="form-label"  for="imageModel">Select an image generation model of your choice</label>
                  <select class="form-select" id="imageModel">
                    <option selected value="0">Select model</option>
                    <option value="Stable Diffusion">Stable Diffusion (recommended)</option>
                    <option value="Midjourney">Midjourney</option>
                    <option value="Kandinsky">Kandinsky</option>
                  </select>  
                </div>
                <div class="text-center">
                  <button class="col-5 btn btn-primary mt-4" id="generateComicBtn" type="submit">Generate Comic</button>                
                </div>
              </form>
            </div>
            <div class="text-center mt-4" id="spinner3Div"  style="display: none;">
              <div class="spinner-border" role="status">
                <span class="sr-only"></span>
              </div>
            </div>
          </div>          
          <hr class="my-4">
          <div class="row mt-4">
            <div class="col-md-12" id="comicSection" style="display: none;">
              <div class="form-group">
                <h4>Your Custom Comic Strip</h4><br>
                <img id="comic"/>
              </div>              
              <div class="text-center mt-4" id="spinner4Div" style="display: none;">
                <div class="spinner-border" role="status">
                  <span class="sr-only"></span>
                </div>
              </div>
              <div class="text-center" id="comicSectionButtons" style="display: none;">
                <!--<button class="col-5 btn btn-warning mt-4" type="submit">Make a Variation</button>-->
                <button class="col-5 btn btn-primary mt-4" id="regenerateBtn" type="click" onclick="generateComic()">Regenerate</button>
                <button class="col-5 btn btn-success mt-4" id="downloadBtn" type="download" onclick="downloadImage()">Download</button>
              </div>
              <hr class="my-4">
            </div>
          </div>

        </div> 
        </div>


      </div>
    </div>
  </main>
</div>


    <script src="../static/css/bootstrap.bundle.min.js"></script>

      <!-- <script src="../static/js/form-validation.js"></script> -->
      <script src="../static/js/script.js"></script>
      <script>
        let form1 = document.getElementById('transcribeAudioForm')
        form1.addEventListener('submit', transcribeAudio);
        let form2 = document.getElementById('generateGptScript')
        form2.addEventListener('submit', generateGptScript);
        let form3 = document.getElementById('generateComicForm')
        form3.addEventListener('submit', generateComic);
        let form4 = document.getElementById('regenerateScriptBtn')
        form4.addEventListener('click', generateGptScript);
        let form5 = document.getElementById('regenerateBtn')
        form5.addEventListener('click', generateComic); 
        


        async function downloadImage(imageSrc, nameOfDownload) {
          const response = await fetch(imageSrc);
          const blobImage = await response.blob();
          const href = URL.createObjectURL(blobImage);
          
          const anchorElement = document.createElement('a');
          anchorElement.href = href;
          anchorElement.download = nameOfDownload;
          
          document.body.appendChild(anchorElement);
          anchorElement.click();
          
          document.body.removeChild(anchorElement);
          window.URL.revokeObjectURL(href);
        }
        
        const btn = document.getElementById('downloadBtn');
        
        btn.addEventListener("click", () => {
          downloadImage(
            imageURL,
            'comic.png',
          )
            .then(() => {
              console.log('The image has been downloaded');
            })
            .catch(err => {
              console.log('Error downloading image: ', err);
            });
        });
        
      </script>
  </body>
</html>