<!-- transcribed_text.html -->
{% block content %}
<div class="row mt-4">
    <div class="col-md-12">
      <div class="form-group">
        <label for="exampleFormControlTextarea1"><h4>Transcribed text</h4></label><br>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="10" name="text_transcript" placeholder="Text transcription of audio will appear here">{{ text_transcript }}</textarea>
        <label for="address" class="form-label mt-4">TV Show you want your comic to be based on:</label>
        <input type="text" class="form-control" id="address" name="address" placeholder="Ex: Big Bang Theory" required>
        <div class="invalid-feedback">
          Please enter a TV Show of your choice
        </div>              
        <label for="customReq" class="form-label mt-4">Custom requirements for the script:</label>
        <input type="text" class="form-control" id="customReq" name="customReq" placeholder="Ex: Funny, in the style of Peanuts" required>
      </div>    
      <div class="text-center">       
        <button class="col-12 btn btn-primary btn-lg mt-4" type="submit">Generate script for your comic</button>
      </div> 
    </div>
  </div>
{% endblock %}
